In [1]:
import pandas as pd
from datetime import datetime
import pyeto
import numpy as np
import ast       
import math
import xlrd
from ast import literal_eval  
from pandas import DataFrame
from scipy.interpolate import interp1d
import dateutil     #dateutil module provides powerful extensions to the standard datetime module
from dateutil import parser  #This module offers reads the given date in string and convert it to date format or timestamps,it represent a date and/or time from most known formats 
import os
from tkinter import filedialog, messagebox
import matplotlib.pyplot as plt
import folium
import branca.colormap as cm
import json
from IPython.display import display, Markdown, HTML
#from plotly.offline import iplot, init_notebook_mode
#init_notebook_mode()

#import plotly.graph_objs as go

# note that pyeto is available here https://github.com/woodcrafty/PyETo.git
from pyeto import fao

%matplotlib inline

math.exp = np.exp
math.pow = np.power
math.sqrt = np.sqrt

In [2]:
import geopandas as gpd

gdf=gpd.read_file('county_Polygons.shp')

print(gdf.head())

# ax=gdp.plot(figsize=(10,10 ),alpha=0.5, edgecolor='k')

   Shape_Leng  Shape_Area ADM0_EN ADM0_PCODE       left       top    right  \
0   44.052413   48.098756   Kenya         KE  34.246522  3.764066  34.3586
1   44.052413   48.098756   Kenya         KE  34.246522  3.861128  34.3586
2   44.052413   48.098756   Kenya         KE  34.246522  3.958191  34.3586
3   44.052413   48.098756   Kenya         KE  34.246522  4.443502  34.3586
4   44.052413   48.098756   Kenya         KE  34.246522  4.540564  34.3586

     bottom  Area  Main ID     xcoord    ycoord   COUNTY  \
0  3.667004    33     3699  34.306657  3.742138  Turkana
1  3.764066   100     3700  34.302561  3.812597  Turkana
2  3.861128   100     3701  34.302561  3.909659  Turkana
3  4.346439   100     3702  34.302561  4.394970  Turkana
4  4.443502    79     3703  34.309239  4.485646  Turkana

                                            geometry
0  POLYGON ((34.33673 3.73248, 34.32489 3.72809, ...
1  POLYGON ((34.27454 3.86113, 34.33058 3.86113, ...
2  POLYGON ((34.27454 3.95819, 34.33058 3.95819, ...
3  POLYGON ((34.27454 4.44350, 34.33058 4.44350, ...
4  POLYGON ((34.26868 4.49329, 34.30511 4.52850, ...

In [3]:
#select scenario for analysis
#0 for average scenario
#1 for worst case scenario
#2 future scenario
s = 0

In [4]:
# Crop name and scenario
# cropname = "Maize"
# scenarioname = "2017_10km"

In [5]:
# Import data 
df_w = pd.read_csv('worst_scenario.csv')
df_a = pd.read_csv('average_scenario.csv')

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,pvout_7,pvout_8,pvout_9,pvout_10,pvout_11,pvout_12,sw_suit,c_shallow.1,c_deep.1,protected
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,94.801152,111.015729,126.503899,118.193017,117.762203,145.751229,1,0.845,0.76,1
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,94.804831,111.183339,126.818136,117.651042,118.024068,145.782492,1,0.845,0.76,1
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,94.384946,111.213198,127.072433,117.729901,119.339730,146.743946,1,0.845,0.76,1
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,93.786559,110.829992,127.168474,117.356280,120.009152,148.191296,1,0.845,0.76,1
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,98.043398,113.597169,128.413275,121.520823,120.468584,146.196274,1,0.845,0.76,1

In [6]:
#Defining function for estimating parameters required to calculate monthly reference evapotranspiration
def evap_i(lat,elev,wind,srad,tmin,tmax,tavg,month):
    if month ==1:
        J = 15
    else:
        J = 15 + (month-1)*30
        
    latitude = pyeto.deg2rad(lat) #converting latitude values from degrees to radians
    atmosphericVapourPressure = pyeto.avp_from_tmin(tmin) #obtaining atmospheric vapour pressure from t_min
    saturationVapourPressure = pyeto.svp_from_t(tavg) #obtaining saturation vapour pressure from t_avg
    ird = pyeto.inv_rel_dist_earth_sun(J) #obtaining irradiance based on distance from sun?
    solarDeclination = pyeto.sol_dec(J) #solar declination for various months?
    sha = [pyeto.sunset_hour_angle(l, solarDeclination) for l in latitude]
    extraterrestrialRad = [pyeto.et_rad(x, solarDeclination,y,ird) for x, y in zip(latitude,sha)] #extraterrestial radiation
    clearSkyRad = pyeto.cs_rad(elev,extraterrestrialRad) #clear sky radiation
    netInSolRadnet = pyeto.net_in_sol_rad(srad*0.001, albedo=0.23) #net shortwave irradiation
    netOutSolRadnet = pyeto.net_out_lw_rad(tmin, tmax, srad*0.001, clearSkyRad, atmosphericVapourPressure) #net longwave radiation
    netRadiation = pyeto.net_rad(netInSolRadnet,netOutSolRadnet) #net radiation
    tempKelvin = pyeto.celsius2kelvin(tavg) #converting average temperature to Kelvin
    windSpeed2m = wind #wind speed
    slopeSvp = pyeto.delta_svp(tavg) #calculating slope vapour pressure
    atmPressure = pyeto.atm_pressure(elev) #calculating atmospheric pressure from elevation value
    psyConstant = pyeto.psy_const(atmPressure) #calculating psychrometric constant from atmospheric pressure
    
    #the function to use FAO Penman-Monteith equation and return the value of reference evapotranspiration
    return pyeto.fao56_penman_monteith(netRadiation, tempKelvin, windSpeed2m, saturationVapourPressure, 
                                       atmosphericVapourPressure, slopeSvp, psyConstant, shf=0.0)


#initiating the value of reference evapotranspiration
for i in range(1,13):
    df['ETo_{}'.format(i)]=0  #To make sure that it is reset to zero

#calling the function to calculate ETo for each row for each month 
for i in range(1,13):
    df['ETo_{}'.format(i)] = evap_i(df['lat'],df['elevation'],df['wind_{}'.format(i)],df['srad_{}'.format(i)], 
                                    df['tmin_{}'.format(i)],df['tmax_{}'.format(i)],df['tavg_{}'.format(i)],i)

In [7]:
df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,ETo_3,ETo_4,ETo_5,ETo_6,ETo_7,ETo_8,ETo_9,ETo_10,ETo_11,ETo_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,6.564656,5.336586,4.916236,4.445964,4.102627,4.798710,5.551987,4.961686,5.001120,5.351347
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,6.621670,5.355271,4.954861,4.469616,4.165352,4.813763,5.611894,4.963950,5.021371,5.368339
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,6.668654,5.351512,4.959659,4.471611,4.178235,4.810148,5.639671,4.986896,5.054901,5.392731
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,6.658754,5.352675,4.952948,4.497322,4.211073,4.811346,5.662735,4.978554,5.045285,5.359040
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,6.713909,5.473850,5.056452,4.619317,4.271817,4.912015,5.668190,5.172443,5.136433,5.502177

In [8]:
# Estimate monthly crop evaropotransoration ETc
for i in range(1,13):
    df['ETc_{}'.format(i)] = df['ETo_{}'.format(i)] * df['kc_{}'.format(i)]

df

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,ETc_3,ETc_4,ETc_5,ETc_6,ETc_7,ETc_8,ETc_9,ETc_10,ETc_11,ETc_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,2.625862,5.870244,5.899483,5.335157,3.692364,0.0,2.220795,5.457854,6.001343,6.421616
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,2.648668,5.890798,5.945833,5.363539,3.748817,0.0,2.244758,5.460345,6.025645,6.442007
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,2.667462,5.886663,5.951591,5.365933,3.760412,0.0,2.255869,5.485586,6.065881,6.471277
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,2.663502,5.887942,5.943537,5.396786,3.789966,0.0,2.265094,5.476409,6.054342,6.430849
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,2.685564,6.021235,6.067742,5.543180,3.844636,0.0,2.267276,5.689688,6.163719,6.602612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6049,Kenya,Laikipia,100,6134,36.824311,0.415420,10000,1711.681942,2.939079,25500.26637,...,2.462236,5.857892,6.294243,5.859309,4.086721,0.0,2.375672,6.069631,6.129822,6.033822
6050,Kenya,Kajiado,23,6135,36.841061,-2.563604,2300,1280.228731,2.078238,22775.98586,...,2.340900,5.399492,5.113737,4.730449,3.641801,0.0,2.104691,6.104086,6.076195,6.013572
6051,Kenya,Kajiado,100,6136,36.824311,-2.496446,10000,1470.620210,1.952978,22033.22939,...,2.223849,5.120833,4.955793,4.602830,3.514169,0.0,2.000186,5.765815,5.649596,5.479741
6052,Kenya,Kajiado,100,6137,36.824311,-2.399384,10000,1370.762115,1.774332,22489.47934,...,2.317746,5.382466,5.194400,4.797702,3.675927,0.0,2.074191,6.032720,5.958799,5.866125
6053,Kenya,Kajiado,100,6138,36.824311,-2.302321,10000,1438.121778,2.528079,22621.51198,...,2.335585,5.424858,5.151028,4.703451,3.608720,0.0,2.072736,6.064688,6.060500,5.903138

In [9]:
#Trying a different ETc that assumes a standard crop coefficient of 1
#We will call at ETc_i (ETc index)
#Actually we do not need this as we can use ETo directly

In [10]:
# Calculating the annual precipitation: which is the sum of precipitation values
df['precipitation_annual']=df.filter(like='prec_').sum(axis=1)  #Filter is used to specify the column of interest

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,ETc_4,ETc_5,ETc_6,ETc_7,ETc_8,ETc_9,ETc_10,ETc_11,ETc_12,precipitation_annual
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,5.870244,5.899483,5.335157,3.692364,0.0,2.220795,5.457854,6.001343,6.421616,422.147487
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,5.890798,5.945833,5.363539,3.748817,0.0,2.244758,5.460345,6.025645,6.442007,422.746851
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,5.886663,5.951591,5.365933,3.760412,0.0,2.255869,5.485586,6.065881,6.471277,418.245585
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,5.887942,5.943537,5.396786,3.789966,0.0,2.265094,5.476409,6.054342,6.430849,420.839864
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,6.021235,6.067742,5.543180,3.844636,0.0,2.267276,5.689688,6.163719,6.602612,438.739734

In [11]:
#calculating the effective rainfall
#the rainfall received is multiplied with relevant factor
#for this case maize is considered a shallow rooted crop

#Initiate
for i in range(1,13):
    df['eff_{}'.format(i)]=0


#the effective rainfall kept with bounds of 0.0001 to ETc value to avoid negative numbers when the two are
#subtracted
for i in range(1,13):
    df['eff_{}'.format(i)] = df['c_shallow'] * df['prec_{}'.format(i)]
    df.loc[df['eff_{}'.format(i)] < 0, 'eff_{}'.format(i)] = 0.0001
    df.loc[(df['eff_{}'.format(i)] >= df['prec_{}'.format(i)]), 'eff_{}'.format(i)] = df['prec_{}'.format(i)]
    df.loc[(df['eff_{}'.format(i)] >= df['ETc_{}'.format(i)]), 'eff_{}'.format(i)] = df['ETc_{}'.format(i)]

In [12]:
#Net Irrigation requirements (IRn) (mm/month)
#(monthly ETc - monthly effective rainfall)*30 days
for i in range (1,13):
    df['IRn_{}'.format(i)]= df['ETc_{}'.format(i)]*30 - df['eff_{}'.format(i)]*30

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,IRn_3,IRn_4,IRn_5,IRn_6,IRn_7,IRn_8,IRn_9,IRn_10,IRn_11,IRn_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
#Getting irrigation requirement with crop coefficient of 1
#We are not interested in the units, just the month
#(monthly ETc - monthly effective rainfall)*30 days
for i in range (1,13):
    df['IRi_{}'.format(i)]= df['ETo_{}'.format(i)]*1.2*30 - df['eff_{}'.format(i)]*30
    
df['WD_Max']=df.filter(like='IRi_').idxmax(axis=1)

di = df['WD_Max']

df['max_month'] = di.str[4:]

df.head(5)
df.to_csv('max_month.csv', index = False)

In [14]:
#Peak Crop Water Requirements (PCWR)

# Converting IRn into (m3/ha per month) 
for i in range (1,13):
    df['IRn_{}'.format(i)] *= 10    #0.001*10000 --- 1 hectare*1mm
    df['Monthly_IRn_{}'.format(i)] = df['IRn_{}'.format(i)]
    
# Converting IRn into (m3/ha per day)
for i in range (1,13):
    df['IRnd_{}'.format(i)] = df['IRn_{}'.format(i)] / 30
    
# Peak crop water requirement (PCWR) taken to be equal to net irrigation requirement
for i in range (1,13):
    df['PCWR_{}'.format(i)] = df['IRnd_{}'.format(i)] 
    
# Converting PCWR into  l/s/ha "Duty" - litre/second/hectare
for i in range (1,13):
    df['PCWR_{}'.format(i)] *= 0.012 #1000/86400 (seconds in a day)
    

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PCWR_3,PCWR_4,PCWR_5,PCWR_6,PCWR_7,PCWR_8,PCWR_9,PCWR_10,PCWR_11,PCWR_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
#max pcwr
df['pcwr_max']=df.filter(like='PCWR_').max(axis=1) 
df['pwcr_per_day'] = df['pcwr_max']*60*60*24 #pwcr per day per hectare
df

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PCWR_5,PCWR_6,PCWR_7,PCWR_8,PCWR_9,PCWR_10,PCWR_11,PCWR_12,pcwr_max,pwcr_per_day
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.029398,2539.999597
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.037661,3253.919961
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.129701,11206.153349
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.163606,14135.515854
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6049,Kenya,Laikipia,100,6134,36.824311,0.415420,10000,1711.681942,2.939079,25500.26637,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
6050,Kenya,Kajiado,23,6135,36.841061,-2.563604,2300,1280.228731,2.078238,22775.98586,...,0.0,0.0,0.362872,0.0,0.0,0.0,0.0,0.0,0.362872,31352.116351
6051,Kenya,Kajiado,100,6136,36.824311,-2.496446,10000,1470.620210,1.952978,22033.22939,...,0.0,0.0,0.331584,0.0,0.0,0.0,0.0,0.0,0.331584,28648.850391
6052,Kenya,Kajiado,100,6137,36.824311,-2.399384,10000,1370.762115,1.774332,22489.47934,...,0.0,0.0,0.368047,0.0,0.0,0.0,0.0,0.0,0.368047,31799.230865
6053,Kenya,Kajiado,100,6138,36.824311,-2.302321,10000,1438.121778,2.528079,22621.51198,...,0.0,0.0,0.324085,0.0,0.0,0.0,0.0,0.0,0.324085,28000.929549

In [16]:
# #Finding areas with PCWR_Max of over 0
# #pcwr = 0
# a_pc = df.query("pwcr_per_day == 0")['area'].sum()
# #0<pcwr<20,000
# b_pc = df.query("pwcr_per_day > 0 and pwcr_per_day < 20000")['area'].sum()
# #20,000<pcwr<40,000
# c_pc = df.query("pwcr_per_day > 20000 and pwcr_per_day < 40000")['area'].sum()
# #40,000<pcwr<60,000
# d_pc = df.query("pwcr_per_day > 40000 and pwcr_per_day < 60000")['area'].sum()
# #pcwr > 60,000
# e_pc = df.query("pwcr_per_day > 60000")['area'].sum()
# #total
# total_pc = a_pc+b_pc+c_pc+d_pc+e_pc
# total_pc

In [17]:
#which month has the max pcwr?
df['Max_PCWR']=df.filter(like='PCWR_').idxmax(axis=1)

# dp = df['WD_Max']

df['pcwr_month'] = df['Max_PCWR'].str[5:]

df.head(5)
# df.to_csv('max_month.csv', index = False)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PCWR_7,PCWR_8,PCWR_9,PCWR_10,PCWR_11,PCWR_12,pcwr_max,pwcr_per_day,Max_PCWR,pcwr_month
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.029398,2539.999597,PCWR_1,1
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.037661,3253.919961,PCWR_1,1
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.129701,11206.153349,PCWR_1,1
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.163606,14135.515854,PCWR_1,1
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,PCWR_1,1

In [18]:
#Highest PCWR as a percentage of the average
df['pcwr_sum']=df.filter(like='PCWR_').sum(axis=1) 
df['pcwr_avg'] = df['pcwr_sum']/12
df['pcwr_ratio'] = df['pcwr_max']/df['pcwr_avg']
df

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PCWR_10,PCWR_11,PCWR_12,pcwr_max,pwcr_per_day,Max_PCWR,pcwr_month,pcwr_sum,pcwr_avg,pcwr_ratio
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.029398,2539.999597,PCWR_1,1,0.029398,0.002450,12.0
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.037661,3253.919961,PCWR_1,1,0.037661,0.003138,12.0
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.129701,11206.153349,PCWR_1,1,0.129701,0.010808,12.0
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.163606,14135.515854,PCWR_1,1,0.163606,0.013634,12.0
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.000000,0.000000,PCWR_1,1,0.000000,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6049,Kenya,Laikipia,100,6134,36.824311,0.415420,10000,1711.681942,2.939079,25500.26637,...,0.0,0.0,0.0,0.000000,0.000000,PCWR_1,1,0.000000,0.000000,NaN
6050,Kenya,Kajiado,23,6135,36.841061,-2.563604,2300,1280.228731,2.078238,22775.98586,...,0.0,0.0,0.0,0.362872,31352.116351,PCWR_7,7,0.362872,0.030239,12.0
6051,Kenya,Kajiado,100,6136,36.824311,-2.496446,10000,1470.620210,1.952978,22033.22939,...,0.0,0.0,0.0,0.331584,28648.850391,PCWR_7,7,0.331584,0.027632,12.0
6052,Kenya,Kajiado,100,6137,36.824311,-2.399384,10000,1370.762115,1.774332,22489.47934,...,0.0,0.0,0.0,0.368047,31799.230865,PCWR_7,7,0.368047,0.030671,12.0
6053,Kenya,Kajiado,100,6138,36.824311,-2.302321,10000,1438.121778,2.528079,22621.51198,...,0.0,0.0,0.0,0.324085,28000.929549,PCWR_7,7,0.324085,0.027007,12.0

In [19]:
#Peak Water Demand (PWD) in l/s 

# PWD = PCWR / Irrigation efficiency(IrrEff) 
# IrrEff = Field Application Efficiency (aeff) * Distribution Efficiency (deff)*100 
# deff = (Conveyance efficiency + field canal efficiency)
# deff: 0.95 (all scenarios)
# aeff: 0.6 (Surface Irr), 0.75 (Sprinkler Irr), 0.9 (Drip Irr)

#efficiency of drip irrigation will be used 

pumping_hours_per_day=8    # Assumption  
deff= 0.95                 # Assumption
aeff= 0.9                 # Assumption

#peak water demand per day in l/s/ha
for i in range (1,13):
    df["PWD_{}".format(i)]= df["PCWR_{}".format(i)]*24/(pumping_hours_per_day*aeff*deff)

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PWD_3,PWD_4,PWD_5,PWD_6,PWD_7,PWD_8,PWD_9,PWD_10,PWD_11,PWD_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
#pump diameter depending on peak water demand
#diameter in metres
df['PWD_max']=df.filter(like='PWD_').max(axis=1)

df['diam'] = np.sqrt((4*df['PWD_max']/1000)/(3.142*1.5))



df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PWD_5,PWD_6,PWD_7,PWD_8,PWD_9,PWD_10,PWD_11,PWD_12,PWD_max,diam
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.103151,0.009357
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.132144,0.010590
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.455091,0.019653
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.574054,0.022073
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

In [21]:
#Estimating Energy and Power Requirements

In [22]:
#Total dynamic head (TDH) for ground and surface water sources

kf = 0.013 #friction factor

# #friction head of groundwater
frict_head_gw = (4*kf*8*df["gw_depth"]*(df["PWD_max"]/1000)**2)/(((df["diam"])**5)*(3.142**2)*9.81)
pres_head_gw = 2 #pressure head



pres_head_sw = 2
frict_head_sw = (4*kf*8*df['sw_dist']*(df['PWD_max']/1000)**2)/(((df['diam'])**5)*(3.142**2)*9.81)

#groundwater dynamic head
df['tdh_gw']=df['gw_depth'] + pres_head_gw + frict_head_gw



#checking if water us flowing downhill or uphill
df['tsh'] = df['sw_depth'] - df['elevation']

#surface water dynamic head
df.loc[df['tsh'] <= 0, 'tdh_sw'] = (abs(df['sw_depth'] - df['elevation'])) + pres_head_sw + frict_head_sw
df.loc[df['tsh'] > 0, 'tdh_sw'] = pres_head_sw + frict_head_sw


df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PWD_8,PWD_9,PWD_10,PWD_11,PWD_12,PWD_max,diam,tdh_gw,tsh,tdh_sw
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.103151,0.009357,165.733543,8.200878,133198.731019
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.132144,0.010590,158.309471,-11.874556,111708.779096
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.455091,0.019653,132.342866,-32.220345,56999.614121
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.574054,0.022073,129.016498,-65.740840,47922.874244
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,NaN,78.915220,NaN

In [23]:
#Estimating power (kW)

In [24]:
#Setting the default value for these parameters
for i in range (1,13):
    df['PD_E_gw_{}'.format(i)]=0      #PD_E_gw: Peak Demand (kw) using electric powered pump for ground water
    df['PD_E_sw_{}'.format(i)]=0      #PD_E_sw: Peak Demand (kw) using electric powered pump for surface water 

    
pump_plant_eff=0.57

#calculating the monthly peak (kW) demand
for i in range (1,13):
    PWD = 'PWD_{}'.format(i)
    PD_E_gw = 'PD_E_gw_{}'.format(i)
    PD_E_sw = 'PD_E_sw_{}'.format(i)

    df[PD_E_gw]=(9.81*(df[PWD]/1000)*df['tdh_gw'])/pump_plant_eff #PWD here is in l/s and not m3/s
    df[PD_E_sw]=(9.81*(df[PWD]/1000)*df['tdh_sw'])/pump_plant_eff

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PD_E_gw_8,PD_E_sw_8,PD_E_gw_9,PD_E_sw_9,PD_E_gw_10,PD_E_sw_10,PD_E_gw_11,PD_E_sw_11,PD_E_gw_12,PD_E_sw_12
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#Decision between ground or surface water irrigation

In [26]:
df['Max_PD_E_gw']=df.filter(like='PD_E_gw_').max(axis=1) #highest power for gw
df['Max_PD_E_sw']=df.filter(like='PD_E_sw_').max(axis=1)  #highest power for sw
df['PD_E'] = np.minimum.reduce(df[['Max_PD_E_gw', 'Max_PD_E_sw']].values, axis=1) #choosing lowest of the two

#noting whether surface water or groundwater was used
#1 if surface water is chosen and 0 if groundwater is chosen
df.loc[df['Max_PD_E_sw'] < df['Max_PD_E_gw'], 'sw'] = 1
df.loc[df['Max_PD_E_sw'] > df['Max_PD_E_gw'], 'sw'] = 0

df.head(5)
# df["PWD_{}".format(i)]= df["PCWR_{}".format(i)]*24/(pumping_hours_per_day*aeff*deff)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,PD_E_gw_10,PD_E_sw_10,PD_E_gw_11,PD_E_sw_11,PD_E_gw_12,PD_E_sw_12,Max_PD_E_gw,Max_PD_E_sw,PD_E,sw
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.294225,236.466315,0.294225,0.0
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.360039,254.056155,0.360039,0.0
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,1.036556,446.440952,1.036556,0.0
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,1.274654,473.467386,1.274654,0.0
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#Estimating the yearly electricity demand

#total sum of monthly
#months assumed to have same length so this can be added directly
df['PD_E_gw_sum']=df.filter(like='PD_E_gw_').sum(axis=1) #sum power for gw
df['PD_E_sw_sum']=df.filter(like='PD_E_sw_').sum(axis=1)  #sum power for sw

df['PD_sum'] = np.minimum.reduce(df[['PD_E_gw_sum', 'PD_E_sw_sum']].values, axis=1) #choosing the lowest power sum

#monthy energy demand
for i in range (1,13):
    month_demand = 'month_demand_{}'.format(i)
    power_sw = 'PD_E_sw_{}'.format(i)
    power_gw = 'PD_E_gw_{}'.format(i)
    df.loc[df['Max_PD_E_sw'] < df['Max_PD_E_gw'], month_demand] = df[power_sw]*8*30
    df.loc[df['Max_PD_E_sw'] > df['Max_PD_E_gw'], month_demand] = df[power_gw]*8*30
    

#total annual energy consumed in irrigation
df['Annual_elec_demand'] = df['PD_sum'] * 8 * 30

df

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,month_demand_4,month_demand_5,month_demand_6,month_demand_7,month_demand_8,month_demand_9,month_demand_10,month_demand_11,month_demand_12,Annual_elec_demand
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,70.614006
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,86.409314
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,248.773370
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,305.917064
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6049,Kenya,Laikipia,100,6134,36.824311,0.415420,10000,1711.681942,2.939079,25500.26637,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
6050,Kenya,Kajiado,23,6135,36.841061,-2.563604,2300,1280.228731,2.078238,22775.98586,...,0.0,0.0,0.0,165.847346,0.0,0.0,0.0,0.0,0.0,165.847346
6051,Kenya,Kajiado,100,6136,36.824311,-2.496446,10000,1470.620210,1.952978,22033.22939,...,0.0,0.0,0.0,152.552602,0.0,0.0,0.0,0.0,0.0,152.552602
6052,Kenya,Kajiado,100,6137,36.824311,-2.399384,10000,1370.762115,1.774332,22489.47934,...,0.0,0.0,0.0,168.041834,0.0,0.0,0.0,0.0,0.0,168.041834
6053,Kenya,Kajiado,100,6138,36.824311,-2.302321,10000,1438.121778,2.528079,22621.51198,...,0.0,0.0,0.0,149.358822,0.0,0.0,0.0,0.0,0.0,149.358822

In [28]:
#determining solar potential of month with max demand

df['etc_max']=df.filter(like='IRn_').idxmax(axis=1)

d = df['etc_max']

x = d.str[4:]

x
n = x.astype(int)
 
start_pv = df.columns.get_loc('pvout_1')
pos = start_pv + (n)
pos

colname = df.columns[pos]


for i in range(len(df)):
    df['PV'] = df.loc[:][colname[i]]

df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,month_demand_6,month_demand_7,month_demand_8,month_demand_9,month_demand_10,month_demand_11,month_demand_12,Annual_elec_demand,etc_max,PV
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70.614006,IRn_1,111.015729
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,86.409314,IRn_1,111.183339
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,248.773370,IRn_1,111.213198
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,305.917064,IRn_1,110.829992
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,IRn_1,113.597169

In [29]:
#sizing the PV

In [30]:
#PV size = 1.2 x Max Energy Demand (kWh)/pv potential (kWh/kWp)
#Result scaled by 20\% for safety as the monthly PVOUT value is an average

df['pv_kw'] = (1.2*df['PD_E']*8*30)/df['PV']


df.head(5)

,ADM0_EN,COUNTY,Area,Main ID,lon,lat,area,elevation,wind_10m,srad_1,...,month_demand_7,month_demand_8,month_demand_9,month_demand_10,month_demand_11,month_demand_12,Annual_elec_demand,etc_max,PV,pv_kw
0,Kenya,Wajir,99,1,40.942462,2.016948,9900,246.495982,3.105536,24412.03003,...,0.0,0.0,0.0,0.0,0.0,0.0,70.614006,IRn_1,111.015729,0.763287
1,Kenya,Wajir,99,2,40.942562,2.114010,9900,266.571416,3.130761,24479.77660,...,0.0,0.0,0.0,0.0,0.0,0.0,86.409314,IRn_1,111.183339,0.932614
2,Kenya,Mandera,99,3,40.942632,2.211072,9900,286.917205,3.160159,24562.24128,...,0.0,0.0,0.0,0.0,0.0,0.0,248.773370,IRn_1,111.213198,2.684286
3,Kenya,Mandera,99,4,40.942720,2.308133,9900,320.437701,3.179663,24648.61526,...,0.0,0.0,0.0,0.0,0.0,0.0,305.917064,IRn_1,110.829992,3.312285
4,Kenya,Wajir,99,5,40.942665,1.628699,9900,175.781640,3.120238,24153.04621,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,IRn_1,113.597169,NaN

In [31]:
#Total energy produced by system per month
#Energy (kWh) = PV Peak Power (kWp) * solar potential (kWh/kWp) 
#Assuming that the system is size based on the worst case scenario
df['E_supply_{}'.format(i)] = df['pv_kw']*df['pvout_{}'.format(i)]
    

    
#Total energy produced by the system annually
#Total energy supplied given by the sum of the monthly supplies
df['Annual_Energy']=df.filter(like='E_supply_').sum(axis=1)
# df['Max_Energy']=df.filter(like='E_supply_').max(axis=1)


#utilisation factor
df['utilisation_1'] = 100 * df['Annual_elec_demand']/df['Annual_Energy']


df.head(5)

KeyError: 'pvout_6053'

In [ ]:
#Excess energy per month i.e. the energy not used for irrigation

for i in range (1,13):
    E_Excess = 'E_Excess_{}'.format(i)
    E_Supply = 'E_supply_{}'.format(i)
    demand = 'month_demand_{}'.format(i)
    df[E_Excess] = df[E_Supply] - df[demand]

#electrification demand
#tier 3 demand per month = 1000kWh/12
#assuming 4 people per household
#demand = area being connected * density of people without electricity * demand per/household/month

#connecting 1km^2 around the SPIS
df['tier3'] = df['no_access']*1*1000/(4*12)

    
df.head(5)

In [ ]:
#determining how much of the SPIS excess energy can be consumed by the households/per month
for i in range (1,13):
    E_Excess = 'E_Excess_{}'.format(i)
    amount_supplied = 'amount_supplied_{}'.format(i)
    Tier3 = 'tier3'
    df.loc[df[E_Excess] > df[Tier3], amount_supplied] = df[Tier3] #if supply greater than demand
    df.loc[df[E_Excess] < df[Tier3], amount_supplied] = df[E_Excess] #if demand greater than supply
    
df.head(5)

In [ ]:
#total energy supplied to electrified homes annually
df['total_supplied']=df.filter(like='amount_supplied_').sum(axis=1)

#number of households getting tier 3
df['tier3_hh'] = round(df['total_supplied']/1000)

#new utilisation factor
#adding up energy supplied for electrification and energy used for irrigation
df['utilisation_2'] = 100*(df['Annual_elec_demand'] + df['total_supplied'])/df['Annual_Energy']

df.head(5)

In [ ]:
#system cost
#cost of submersible pump + solar panels = $1109/kW #https://www.waterpumps.co.ke/solar-water-pumps-prices-in-kenya.html
#cost of surface pump + solar panels = $1295/kW #https://www.waterpumps.co.ke/solar-water-pumps-prices-in-kenya.html
#cost drilling a borehole = $833 + $54*depth #https://www.waterlink.co.ke/2021/05/07/borehole-drilling-cost-in-kenya-2022/#:~:text
#cost of water transmission pipeline = $1.14*distance #https://grekkon.com/hdpe-pipes-in-kenya/

#cost excluding the boreholes or the water transmission pipe
df.loc[df['sw'] == 1, 'cost'] = 1295*df['PD_E'] #if using surface water
df.loc[df['sw'] == 0, 'cost'] = 1109*df['PD_E'] #if using ground water

df.head(5)

In [ ]:
#removing protected areas
x = df.loc[df['protected'] == 1]
# x
#removing areas where minimum aquifer productivity is less than peak water daily demand
# y = x.loc[x['aquifer_min'] < x['pcwr_max']]
# y

In [ ]:
#filtering useful columns
#county, main id, longitude, latitude
#pcwr, peak demand, pv, energy demand, utilisation 1, electricity supplied, utilisation 2,  cost
# df['pcwr_max']
out = x.filter(items=['COUNTY','Main ID','area', 'lon','lat','pwcr_per_day', 'PD_E','pv_kw', 'Annual_elec_demand',
                'total_supplied','utilisation_1','utilisation_2','cost','max_month','pcwr_month','pcwr_ratio','tier3_hh'])
out.head(5)

In [ ]:
#Months with highest water requirements
#January
a_mth = out.query("max_month == '1'")['area'].sum()
#February
b_mth = out.query("max_month == '2'")['area'].sum()
#September
c_mth = out.query("max_month == '9'")['area'].sum()
#total
t_mth = a_mth+b_mth+c_mth
t_mth
#Percentages
100*a_mth/t_mth,100*b_mth/t_mth,100*c_mth/t_mth

In [ ]:
#Finding areas with PCWR_Max of over 0
#pcwr = 0
a_pc = out.query("pwcr_per_day == 0")['area'].sum()
#0<pcwr<20,000
b_pc = out.query("pwcr_per_day > 0 and pwcr_per_day < 20000")['area'].sum()
#20,000<pcwr<40,000
c_pc = out.query("pwcr_per_day > 20000 and pwcr_per_day < 40000")['area'].sum()
#40,000<pcwr<60,000
d_pc = out.query("pwcr_per_day > 40000 and pwcr_per_day < 60000")['area'].sum()
#pcwr > 60,000
e_pc = out.query("pwcr_per_day > 60000")['area'].sum()
#total
t_pc = a_pc+b_pc+c_pc+d_pc+e_pc
t_pc
#Percentages
100*a_pc/t_pc,100*b_pc/t_pc,100*c_pc/t_pc,100*d_pc/t_pc,100*e_pc/t_pc

In [ ]:
#checking the percentages for peak power requirement
#power = 0
a_pw = out.query("PD_E == 0")['area'].sum()
#0<power<1
b_pw = out.query("PD_E > 0 and PD_E < 1")['area'].sum()
#1<power<2
c_pw = out.query("PD_E > 1 and PD_E < 2")['area'].sum()
#2<power<3
d_pw = out.query("PD_E > 2 and PD_E < 3")['area'].sum()
#3<power<4
e_pw = out.query("PD_E > 3 and PD_E < 4")['area'].sum()
#power> 4
f_pw = out.query("PD_E > 4")['area'].sum()



# #total
t_pw = a_pw+b_pw+c_pw+d_pw+e_pw+f_pw
# t_pw
#Percentages
100*a_pw/t_pw,100*b_pw/t_pw,100*c_pw/t_pw,100*d_pw/t_pw,100*e_pw/t_pw,100*f_pw/t_pw

In [ ]:
#checking the percentages for costs
#0<power<1
a_ct = out.query("cost > 0 and cost < 500")['area'].sum()
#1<power<2
b_ct = out.query("cost > 500 and cost < 1000")['area'].sum()
#2<power<3
c_ct = out.query("cost > 1000 and cost < 1500")['area'].sum()
#3<power<4
d_ct = out.query("cost > 1500 and cost < 2000")['area'].sum()
#power> 4
e_ct = out.query("cost > 2000")['area'].sum()



#total
t_ct = a_ct+b_ct+c_ct+d_ct+e_ct
# t_pw
#Percentages
100*a_ct/t_ct,100*b_ct/t_ct,100*c_ct/t_ct,100*d_ct/t_ct,100*e_ct/t_ct

In [ ]:
#checking the percentages for initial annual utilisation
#0<initial utilisation<10
a_util = out.query("utilisation_1 > 0 and utilisation_1 < 10")['area'].sum()
#10<initial utilisation<20
b_util = out.query("utilisation_1 > 10 and utilisation_1 < 20")['area'].sum()
#<initial utilisation>20
c_util = out.query("utilisation_1 > 20")['area'].sum()



#total
t_util = a_util+b_util+c_util
# t_pw
#Percentages
100*a_util/t_util,100*b_util/t_util,100*c_util/t_util

In [ ]:
#checking the percentages for final annual utilisation
#0<utilisation<30
a_util2 = out.query("utilisation_2 > 0 and utilisation_2 < 30")['area'].sum()
#30<initial utilisation<60
b_util2 = out.query("utilisation_2 > 30 and utilisation_2 < 60")['area'].sum()
#<initial utilisation>50
c_util2 = out.query("utilisation_2 > 60")['area'].sum()

#total
t_util2 = a_util2+b_util2+c_util2
#Percentages
100*a_util2/t_util2,100*b_util2/t_util2,100*c_util2/t_util2

In [ ]:
#percentage of households connected
#0<hh<1
a_hh = out.query("tier3_hh > 0 and tier3_hh <=1")['area'].sum()
#1<hh<2
b_hh = out.query("tier3_hh > 1 and tier3_hh <=2 ")['area'].sum()
#hh>2
c_hh = out.query("tier3_hh > 2")['area'].sum()

#total
t_hh = a_hh+b_hh+c_hh
#Percentages
100*a_hh/t_hh,100*b_hh/t_hh,100*c_hh/t_hh

In [ ]:
#displaying in a map

In [ ]:
#saving
if s == 1:
    out.to_csv('worst_out.csv', index = False)
elif s == 2:
    out.to_csv('future_out.csv', index = False)
else:
    out.to_csv('average_out.csv', index = False)

# Comparing Monthly Averages for Scenarios

Before choosing the cropping cycle

In [ ]:
df['IRi_max']=df.filter(like='IRi_').max(axis=1) #checking max value
df

In [ ]:
df_iri = df[df['IRi_max']>0]
df_iri

mat_bf = (df_iri['IRi_1'].mean(),df_iri['IRi_2'].mean(),df_iri['IRi_3'].mean(),df_iri['IRi_4'].mean(),
          df_iri['IRi_5'].mean(),df_iri['IRi_6'].mean(),df_iri['IRi_7'].mean(),df_iri['IRi_8'].mean(),
          df_iri['IRi_9'].mean(),df_iri['IRi_10'].mean(),df_iri['IRi_11'].mean(),df_iri['IRi_12'].mean())
mat_bf

In [ ]:
#Average Scenario Values
mth_bf_avg = [63,224,145,15,0,21,72,182,149,17,0,0]
mth_bf_wst = [103,228,148,16,5,77,81,185,164,17,0,35]
mth_bf_avg
mth_bf_wst

#Normalising values
max_bf = 228 #maximum value
bf_avg_norm = [x / max_bf for x in mth_bf_avg]
bf_wst_norm = [x / max_bf for x in mth_bf_wst]
bf_wst_norm

# x_axis = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
# y1 = bf_avg_norm
# y2 = bf_wst_norm

# plt.plot(x_axis, y1)
# plt.plot(x_axis, y2)
# plt.title('Normalised Irrigation Water Demand')
# plt.xlabel('Month')
# plt.ylabel('Water Demand')
# plt.show()

In [ ]:
# set width of bar
barWidth = 0.25
fig = plt.subplots(figsize =(6, 4))


Worst = bf_wst_norm
Average = bf_avg_norm
 
# Set position of bar on X axis
br1 = np.arange(len(Worst))
br2 = [x + barWidth for x in br1]

 
# Make the plot
plt.bar(br1, Worst, color ='b', width = barWidth,
        edgecolor ='grey', label ='Worst Case Scenario')
plt.bar(br2, Average, color ='g', width = barWidth,
        edgecolor ='grey', label ='Average Case Scenario')
 
# Adding Xticks
plt.xlabel('Normalised Irrigation Water Demand', fontweight ='bold', fontsize = 10)
plt.ylabel('Water Demand', fontweight ='bold', fontsize = 10)
plt.xticks([r + 0.5*barWidth for r in range(len(Worst))],
        ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
 
plt.legend()
plt.show()

PCWR Averages

In [ ]:
# df['IRi_max']=df.filter(like='IRi_').max(axis=1) #checking max value
# df
df_pc = df[df['pcwr_max']>0]
df_pc



# #60*60*24 = 86400 #pwcr per day per hectare
mat_pcwr = (86400*df_pc['PCWR_1'].mean(),86400*df_pc['PCWR_2'].mean(),86400*df_pc['PCWR_3'].mean(),
            86400*df_pc['PCWR_4'].mean(),86400*df_pc['PCWR_5'].mean(),86400*df_pc['PCWR_6'].mean(),
            86400*df_pc['PCWR_7'].mean(),86400*df_pc['PCWR_8'].mean(),86400*df_pc['PCWR_9'].mean(),
            86400*df_pc['PCWR_10'].mean(),86400*df_pc['PCWR_11'].mean(),86400*df_pc['PCWR_12'].mean())
mat_pcwr

In [ ]:
#Average scenario
#Average Scenario Values
mth_pc_avg = [6709,0,0,0,43,16732,23250,0,9152,0,0,0]
mth_pc_wst = [22786,0,32,0,2460,36752,18303,0,11414,31,400,16532]

mth_pc_avg 
mth_pc_wst

In [ ]:
#Normalising values
max_pc = 36752 #maximum value
pc_avg_norm = [x / max_pc for x in mth_pc_avg]
pc_wst_norm = [x / max_pc for x in mth_pc_wst]
pc_wst_norm

In [ ]:
# set width of bar
barWidth = 0.25
fig = plt.subplots(figsize =(6, 4))


Worst = pc_wst_norm
Average = pc_avg_norm
 
# Set position of bar on X axis
br1 = np.arange(len(Worst))
br2 = [x + barWidth for x in br1]

 
# Make the plot
plt.bar(br1, Worst, color ='b', width = barWidth,
        edgecolor ='grey', label ='Worst Case Scenario')
plt.bar(br2, Average, color ='g', width = barWidth,
        edgecolor ='grey', label ='Average Case Scenario')
 
# Adding Xticks
plt.xlabel('Normalised Maize PCWR', fontweight ='bold', fontsize = 10)
plt.ylabel('Maize PCWR', fontweight ='bold', fontsize = 10)
plt.xticks([r + 0.5*barWidth for r in range(len(Worst))],
        ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
 
plt.legend()
plt.show()

Peak Power Demand Averages

In [ ]:
for i in range (1,13):
    df["power_{}".format(i)] = np.minimum.reduce(df[["PD_E_gw_{}".format(i), "PD_E_sw_{}".format(i)]].values, axis=1) 
df

df_pw = df[df['PD_E']>0]
df_pw

In [ ]:
mat_pw = (df_pw['power_1'].mean(),df_pw['power_2'].mean(),df_pw['power_3'].mean(),df_pw['power_4'].mean(),
          df_pw['power_5'].mean(),df_pw['power_6'].mean(),df_pw['power_7'].mean(),df_pw['power_8'].mean(),
          df_pw['power_9'].mean(),df_pw['power_10'].mean(),df_pw['power_11'].mean(),df_pw['power_12'].mean())
mat_pw

In [ ]:
mat_pw_avg = [0.44,0,0,0,0,0.87,1.14,0,0.5,0,0,0]
mat_pw_wst = [1.42,0,0,0,0.16,1.98,0.87,0,0.61,0,0,0.94]
mat_pw_avg
mat_pw_wst

In [ ]:
#Normalising values
max_pw = 1.98 #maximum value
pw_avg_norm = [x / max_pw for x in mat_pw_avg]
pw_wst_norm = [x / max_pw for x in mat_pw_wst]
pw_wst_norm

In [ ]:
# set width of bar
barWidth = 0.25
fig = plt.subplots(figsize =(6, 4))


Worst = pw_wst_norm
Average = pw_avg_norm
 
# Set position of bar on X axis
br1 = np.arange(len(Worst))
br2 = [x + barWidth for x in br1]

 
# Make the plot
plt.bar(br1, Worst, color ='b', width = barWidth,
        edgecolor ='grey', label ='Worst Case Scenario')
plt.bar(br2, Average, color ='g', width = barWidth,
        edgecolor ='grey', label ='Average Case Scenario')
 
# Adding Xticks
plt.xlabel('Normalised Power Demand', fontweight ='bold', fontsize = 10)
plt.ylabel('Power Demand', fontweight ='bold', fontsize = 10)
plt.xticks([r + 0.5*barWidth for r in range(len(Worst))],
        ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])
 
plt.legend()
plt.show()

# Mapping

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import contextily as cx

In [ ]:
counties=gpd.read_file('counties.shp')
worst=gpd.read_file('joined_worst.shp')
average = gpd.read_file('joined_average.shp')

Peak Crop Water Demand (litres/ha/day)

In [ ]:
fig, (ax1,ax2,ax3) = plt.subplots(1,3,figsize =(10,6),gridspec_kw={"width_ratios":[0.47, 0.47, 0.03]})
average.plot(column='pwcr_per_d', ax=ax1, legend=False, vmin = 0, vmax = 72000,
          cmap='winter_r',edgecolor='black',linewidth = 0)
worst.plot(column='pwcr_per_d', ax=ax2, legend=False, vmin = 0, vmax = 72000,
          cmap='winter_r',edgecolor='black',linewidth = 0)
counties.plot(ax=ax1,color='None', edgecolor='black',linewidth = 0.1)
counties.plot(ax=ax2,color='None', edgecolor='black',linewidth = 0.1)
ax1.title.set_text('Average Scenario')
ax2.title.set_text('Worst Scenario')
# cx.add_basemap(ax=ax1, crs=cost.crs.to_string())
# cx.add_basemap(ax=ax2, crs=cost.crs.to_string())

#adding label
fraction = 1  # .05
norm = mpl.colors.Normalize(vmin=0, vmax=72000)
cbar = ax3.figure.colorbar(
            mpl.cm.ScalarMappable(norm=norm, cmap='winter_r'),
            ax=ax3, pad=.05, fraction=fraction,label = "Peak Water Demand (litres/ha/day)")

ax3.axis('off')

plt.show()

Peak Power Demand (kW/ha)

In [ ]:
fig, (ax1,ax2,ax3) = plt.subplots(1,3,figsize =(10,6),gridspec_kw={"width_ratios":[0.47, 0.47, 0.03]})
average.plot(column='PD_E', ax=ax1, legend=False, vmin = 0, vmax = 6,
          cmap='winter_r',edgecolor='black',linewidth = 0)
worst.plot(column='PD_E', ax=ax2, legend=False, vmin = 0, vmax = 6,
          cmap='winter_r',edgecolor='black',linewidth = 0)
counties.plot(ax=ax1,color='None', edgecolor='black',linewidth = 0.1)
counties.plot(ax=ax2,color='None', edgecolor='black',linewidth = 0.1)
ax1.title.set_text('Average Scenario')
ax2.title.set_text('Worst Scenario')
# cx.add_basemap(ax=ax1, crs=cost.crs.to_string())
# cx.add_basemap(ax=ax2, crs=cost.crs.to_string())

#adding label
fraction = 1  # .05
norm = mpl.colors.Normalize(vmin=0, vmax=6)
cbar = ax3.figure.colorbar(
            mpl.cm.ScalarMappable(norm=norm, cmap='winter_r'),
            ax=ax3, pad=.05, fraction=fraction,label = "Peak Power Demand (kW/ha)")

ax3.axis('off')

plt.show()

SPIS Capital Cost (USD/ha)

In [ ]:
fig, (ax1,ax2,ax3) = plt.subplots(1,3,figsize =(10,6),gridspec_kw={"width_ratios":[0.47, 0.47, 0.03]})
average.plot(column='cost', ax=ax1, legend=False, vmin = 0, vmax = 6600,
          cmap='winter_r',edgecolor='black',linewidth = 0)
worst.plot(column='cost', ax=ax2, legend=False, vmin = 0, vmax = 6600,
          cmap='winter_r',edgecolor='black',linewidth = 0)
counties.plot(ax=ax1,color='None', edgecolor='black',linewidth = 0.1)
counties.plot(ax=ax2,color='None', edgecolor='black',linewidth = 0.1)
ax1.title.set_text('Average Scenario')
ax2.title.set_text('Worst Scenario')
# cx.add_basemap(ax=ax1, crs=cost.crs.to_string())
# cx.add_basemap(ax=ax2, crs=cost.crs.to_string())

#adding label
fraction = 1  # .05
norm = mpl.colors.Normalize(vmin=0, vmax=6600)
cbar = ax3.figure.colorbar(
            mpl.cm.ScalarMappable(norm=norm, cmap='winter_r'),
            ax=ax3, pad=.05, fraction=fraction,label = "SPIS Capital Cost (USD/ha)")

ax3.axis('off')

plt.show()

Initial Annual Utilisation (%)

In [ ]:
fig, (ax1,ax2,ax3) = plt.subplots(1,3,figsize =(10,6),gridspec_kw={"width_ratios":[0.47, 0.47, 0.03]})
average.plot(column='utilisatio', ax=ax1, legend=False, vmin = 0, vmax = 35,
          cmap='winter_r',edgecolor='black',linewidth = 0)
worst.plot(column='utilisatio', ax=ax2, legend=False, vmin = 0, vmax = 35,
          cmap='winter_r',edgecolor='black',linewidth = 0)
counties.plot(ax=ax1,color='None', edgecolor='black',linewidth = 0.1)
counties.plot(ax=ax2,color='None', edgecolor='black',linewidth = 0.1)
ax1.title.set_text('Average Scenario')
ax2.title.set_text('Worst Scenario')
# cx.add_basemap(ax=ax1, crs=cost.crs.to_string())
# cx.add_basemap(ax=ax2, crs=cost.crs.to_string())

#adding label
fraction = 1  # .05
norm = mpl.colors.Normalize(vmin=0, vmax=35)
cbar = ax3.figure.colorbar(
            mpl.cm.ScalarMappable(norm=norm, cmap='winter_r'),
            ax=ax3, pad=.05, fraction=fraction,label = "Initial Utilisation (%)")

ax3.axis('off')

plt.show()

Final Annual Utilisation (%)

In [ ]:
fig, (ax1,ax2,ax3) = plt.subplots(1,3,figsize =(10,6),gridspec_kw={"width_ratios":[0.47, 0.47, 0.03]})
average.plot(column='utilisat_1', ax=ax1, legend=False, vmin = 0, vmax = 100,
          cmap='winter_r',edgecolor='black',linewidth = 0)
worst.plot(column='utilisat_1', ax=ax2, legend=False, vmin = 0, vmax = 100,
          cmap='winter_r',edgecolor='black',linewidth = 0)
counties.plot(ax=ax1,color='None', edgecolor='black',linewidth = 0.1)
counties.plot(ax=ax2,color='None', edgecolor='black',linewidth = 0.1)
ax1.title.set_text('Average Scenario')
ax2.title.set_text('Worst Scenario')
# cx.add_basemap(ax=ax1, crs=cost.crs.to_string())
# cx.add_basemap(ax=ax2, crs=cost.crs.to_string())

#adding label
fraction = 1  # .05
norm = mpl.colors.Normalize(vmin=0, vmax=100)
cbar = ax3.figure.colorbar(
            mpl.cm.ScalarMappable(norm=norm, cmap='winter_r'),
            ax=ax3, pad=.05, fraction=fraction,label = "Final Utilisation (%)")

ax3.axis('off')

plt.show()

Electrified Households

In [ ]:
fig, (ax1,ax2,ax3) = plt.subplots(1,3,figsize =(10, 6),gridspec_kw={"width_ratios":[0.47, 0.47, 0.03]})
average.plot(column='tier3_hh', ax=ax1, legend=False, vmin = 1, vmax = 4
             ,cmap='winter_r',edgecolor='black',linewidth = 0)
#              legend_kwds={"location":"right","shrink":0.5})
worst.plot(column='tier3_hh', ax=ax2, legend=False, vmin = 1, vmax = 4,
          cmap='winter_r',edgecolor='black',linewidth = 0)
#            legend_kwds={"location":"right","shrink":0.5,"label":"Number of Households"})
counties.plot(ax=ax1,color='None', edgecolor='black',linewidth = 0.1)
counties.plot(ax=ax2,color='None', edgecolor='black',linewidth = 0.1)
ax1.title.set_text('Average Scenario')
ax2.title.set_text('Worst Scenario')
# cx.add_basemap(ax=ax1, crs=cost.crs.to_string())
# cx.add_basemap(ax=ax2, crs=cost.crs.to_string())
#adding label
fraction = 1  # .05
norm = mpl.colors.Normalize(vmin=1, vmax=4)
cbar = ax3.figure.colorbar(
            mpl.cm.ScalarMappable(norm=norm, cmap='winter_r'),
            ax=ax3, pad=.05, fraction=fraction,label = "Number of Households")

ax3.axis('off')

plt.show()

# 0.4535

# import matplotlib as mpl
# fraction = 1  # .05
# norm = mpl.colors.Normalize(vmin=1, vmax=4)
# cbar = ax3.figure.colorbar(
#             mpl.cm.ScalarMappable(norm=norm, cmap='winter_r'),
#             ax=ax3, pad=.05, extend='both', fraction=fraction)

# ax3.axis('off')

# pl.figure(figsize=(9, 1.5))

# pl.gca().set_visible(False)
# cax = pl.axes([0.1, 0.2, 0.8, 0.6])

# pl.savefig("colorbar.pdf")

In [ ]:
# fig, ax = plt.subplots(1, 1)
# spismap.plot(column='cost', ax=ax, legend=True, legend_kwds={'label': "SPIS Capital Cost (USD/ha)"},
# cmap='winter_r',edgecolor='black',linewidth = 0.2)
# counties.plot(ax=ax,color='white',alpha=0.2, edgecolor='black')
# cx.add_basemap(ax, crs=spismap.crs.to_string())
# #had tried summer and GnBu
# # cmap='RdYlGn_r'),

In [ ]:
average.columns

In [ ]:
# fig, ax = plt.subplots(1, 1)
# cost.plot(column='utilisatio', ax=ax, legend=True, legend_kwds={'label': "Annual Utilisation (%)"},cmap='winter',
#          edgecolor='black',linewidth = 0.2)
# counties.plot(ax=ax,color='white',alpha=0.2, edgecolor='black')
# cx.add_basemap(ax, crs=cost.crs.to_string())

In [ ]:
# fig, ax = plt.subplots(1, 1)
# cost.plot(column='utilisat_1', ax=ax, legend=True, legend_kwds={'label': "Annual Utilisation after Electrification (%)"},
#           cmap='winter',edgecolor='black',linewidth = 0.2)
# counties.plot(ax=ax,color='white',alpha=0.2, edgecolor='black')
# cx.add_basemap(ax, crs=cost.crs.to_string())

In [ ]:
# import matplotlib as mpl

# cmap = (mpl.colors.ListedColormap(['blue', 'royalblue', 'green','green','green','green','green',
#                                    'green']).with_extremes(over='0.25', under='0.75'))

# bounds = [3, 2, 2,2,2,2,2,2]

# fig, ax = plt.subplots(1, 1)
# cost.plot(column='tier3_hh', ax=ax, legend=True, legend_kwds={'label': "Electrified Households per 1 ha SPIS"},
# cmap=cmap,edgecolor='black',linewidth = 0.2)
# counties.plot(ax=ax,color='white',alpha=0.2, edgecolor='black')
# cx.add_basemap(ax, crs=cost.crs.to_string())

# Bar Charts

Peak Crop Water Requirement

In [ ]:
# set width of bar
barWidth = 0.25
fig = plt.subplots(figsize =(6, 4))
 
# set height of bar
Worst = [24, 7, 16, 31, 22]
Average = [53, 14, 18, 7, 8]
 
# Set position of bar on X axis
br1 = np.arange(len(Worst))
br2 = [x + barWidth for x in br1]

 
# Make the plot
plt.bar(br1, Worst, color ='b', width = barWidth,
        edgecolor ='grey', label ='Worst Case Scenario')
plt.bar(br2, Average, color ='g', width = barWidth,
        edgecolor ='grey', label ='Average Case Scenario')
 
# Adding Xticks
plt.xlabel('Peak Crop Water Requirement (l/ha/day)', fontweight ='bold', fontsize = 10)
plt.ylabel('Percentage', fontweight ='bold', fontsize = 10)
plt.xticks([r + 0.5*barWidth for r in range(len(Worst))],
        ['0', '0 - 20k', '20k - 40k', '40k - 60k', '> 60k'])
 
plt.legend()
plt.show()

Peak Power Demand

In [ ]:
# set height of bar
Worst = [23, 15, 21, 14, 27]
Average = [34, 27, 22, 5, 12]
 
# Set position of bar on X axis
br1 = np.arange(len(Worst))
br2 = [x + barWidth for x in br1]

 
# Make the plot
plt.bar(br1, Worst, color ='b', width = barWidth,
        edgecolor ='grey', label ='Worst Case Scenario')
plt.bar(br2, Average, color ='g', width = barWidth,
        edgecolor ='grey', label ='Average Case Scenario')
 
# Adding Xticks
plt.xlabel('Peak Power Demand (kW/ha)', fontweight ='bold', fontsize = 10)
plt.ylabel('Percentage', fontweight ='bold', fontsize = 10)
plt.xticks([r + 0.5*barWidth for r in range(len(Worst))],
        ['0 - 1', '1 - 2', '2 - 3', '3 - 4', '> 4'])
 
plt.legend()
plt.show()

SPIS Cost

In [ ]:
# set height of bar
Worst = [15, 6, 7, 7, 65]
Average = [16, 16, 12, 14, 42]
 
# Set position of bar on X axis
br1 = np.arange(len(Worst))
br2 = [x + barWidth for x in br1]

 
# Make the plot
plt.bar(br1, Worst, color ='b', width = barWidth,
        edgecolor ='grey', label ='Worst Case Scenario')
plt.bar(br2, Average, color ='g', width = barWidth,
        edgecolor ='grey', label ='Average Case Scenario')
 
# Adding Xticks
plt.xlabel('SPIS Cost (USD/ha)', fontweight ='bold', fontsize = 10)
plt.ylabel('Percentage', fontweight ='bold', fontsize = 10)
plt.xticks([r + 0.5*barWidth for r in range(len(Worst))],
        ['0 - 500', '500 - 1000', '1000 - 1500', '1500 - 2000', '> 2000'])
 
plt.legend()
plt.show()

Annual Utilisation

In [ ]:
# set height of bar
Worst = [19, 61, 20]
Average = [57, 43, 0]
 
# Set position of bar on X axis
br1 = np.arange(len(Worst))
br2 = [x + barWidth for x in br1]

 
# Make the plot
plt.bar(br1, Worst, color ='b', width = barWidth,
        edgecolor ='grey', label ='Worst Case Scenario')
plt.bar(br2, Average, color ='g', width = barWidth,
        edgecolor ='grey', label ='Average Case Scenario')
 
# Adding Xticks
plt.xlabel('Annual Utilisation (%)', fontweight ='bold', fontsize = 10)
plt.ylabel('Percentage', fontweight ='bold', fontsize = 10)
plt.xticks([r + 0.5*barWidth for r in range(len(Worst))],
        ['0 - 10', '10 - 20', '> 20'])
 
plt.legend()
plt.show()

Utilisation After Electrification

In [ ]:
# set height of bar
Worst = [36, 31, 33]
Average = [36, 22, 42]
 
# Set position of bar on X axis
br1 = np.arange(len(Worst))
br2 = [x + barWidth for x in br1]

 
# Make the plot
plt.bar(br1, Worst, color ='b', width = barWidth,
        edgecolor ='grey', label ='Worst Case Scenario')
plt.bar(br2, Average, color ='g', width = barWidth,
        edgecolor ='grey', label ='Average Case Scenario')
 
# Adding Xticks
plt.xlabel('Annual Utilisation After Electrifying Households (%)',
           fontweight ='bold', fontsize = 10)
plt.ylabel('Percentage', fontweight ='bold', fontsize = 10)
plt.xticks([r + 0.5*barWidth for r in range(len(Worst))],
        ['0 - 30', '30 - 60', '> 60'])
 
plt.legend()
plt.show()

Households Electrified

In [ ]:
# set height of bar
Worst = [37, 26, 37]
Average = [35, 26, 39]
 
# Set position of bar on X axis
br1 = np.arange(len(Worst))
br2 = [x + barWidth for x in br1]

 
# Make the plot
plt.bar(br1, Worst, color ='b', width = barWidth,
        edgecolor ='grey', label ='Worst Case Scenario')
plt.bar(br2, Average, color ='g', width = barWidth,
        edgecolor ='grey', label ='Average Case Scenario')
 
# Adding Xticks
plt.xlabel('Electrified Households',
           fontweight ='bold', fontsize = 10)
plt.ylabel('Percentage', fontweight ='bold', fontsize = 10)
plt.xticks([r + 0.5*barWidth for r in range(len(Worst))],
        ['1', '2', '> 2'])
 
plt.legend()
plt.show()

In [ ]:
# x = np.array(['Green House (Tomato Farming)','Maize Milling','Poultry Farming (Case A)','Poultry Farming (Case B)',
#               'Poultry Farming (Case C)','Brick Production','Carpentry','Icemaking'])
# y = np.array([4.02,0.24,0.25,1.3,2.81,2.66,0.25,0.38])
# plt.xticks(rotation=30, ha='right')
# plt.scatter(x, y,s=20)
# # plt.title('Changing Marker Sizes for All Points - datagy.io')
# plt.ylabel('Revenue per kWh (USD/kWh)')
# # plt.plot([0.23, 0.23, 0.23, 0.23,0.23,0.23,0.23,0.23], linestyle='dotted',color = 'black')
# # plt.plot([0.56, 0.56, 0.56, 0.56,0.56,0.56,0.56,0.56], linestyle='dotted',color = 'black')
# plt.show()

In [ ]:
f = plt.figure()
f.set_figwidth(5)
f.set_figheight(3)


x_axis = [0,25,65,105,160]
y1 = [0.3,0.3,1.2,1.2,0.6]

plt.plot(x_axis, y1,label='Crop Coefficient')
plt.xticks(np.arange(0, 160+1, 20))
plt.yticks(np.arange(0, 1.2+0.1, 0.3))
# plt.grid()
plt.legend()
# plt.title('Normalised Irrigation Water Demand')
plt.xlabel('Growth Stages (Days)')
plt.ylabel('Crop Coefficient (kc)')
plt.show()